.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      %h.main-chat__group-info__left-box__current-group #{@group.name}
      %ul.main-chat__group-info__left-box__member-list
        Member:
        - @group.users.each do |user|
          %span.chat-header__user #{user.name}
        %li.main-chat__group-info__left-box__member-list__member 
    .main-chat__group-info__right-box
    = link_to edit_group_path(@group), class: "main-chat__group-info__right-box" do
      .main-chat__group-info__right-box__edit-btn Edit
    

  .main-chat__messages
    = render @messages
    -# .main-chat__messages_message
    -#   .main-chat__messages_message__upper-info
    -#     %p.main-chat__messages_message__upper-info__taker karino
    -#     %P.main-chat__messages_message__upper-info__date  20200101
    -#   .main-chat__messages-message__text おーい   

  .main-chat__message-form
    .new-message
      .input-box
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: "input-box__text", placeholder: "type a message"
          .input-box__image
            = f.label :image, class:  'input-box__image' do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'submit-btn'
